@import url(https://fonts.googleapis.com/css2?family=Great+Vibes&family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,600&display=swap);

@font-face {
    font-family: 'NexaRegular';
    src: url('fonts/NexaRegular.woff2') format('woff2'),
        url('fonts/NexaRegular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'NexaExtraBold';
    src: url('fonts/Nexa-ExtraBold.woff2') format('woff2'),
        url('fonts/Nexa-ExtraBold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'NexaSemi';
    src: url('fonts/NexaScript-SemiBold.woff2') format('woff2'),
        url('fonts/NexaScript-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'NexaBlack';
    src: url('fonts/Nexa-Black.woff2') format('woff2'), 
        url('fonts/Nexa-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

.menu-container.ui.container {
    max-width: 1728px !important;
    width: 95%;
}
.menu-container #menu div#menu-ul {
  align-items: center;
  display: flex;
  flex-direction: row-reverse;
  padding: 0;
}

a.nav-link.search-icon.align-item {
    position: relative;
    top: 8px;
    padding-top: 0;
    padding-bottom: 0;
}

a.nav-link span img.uk-img {
    position: relative;
    right: 10px;
    top: 2px;
    margin-left: 10px;
}

.sixteen.wide.tablet.four.wide.computer.column.my-column {
  width: 33% !important;
}

.footer-contact-us .footer.row-1 {
    display: grid;
    grid-template-columns: 55% 25% 20%;
    padding-bottom: 100px;
    padding: 50px 100px;
}

.footer-contact-us p,
.footer-contact-us li,
.footer-contact-us a {
  color: rgba(0, 0, 0, 0.6);
  font-size: 20px;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
}

.footer-contact-us li a {
  overflow: hidden;
  display: block;
  position: relative;
  max-width: max-content;
}

.footer-contact-us li a::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: -1px;
  width: 100%;
  height: 0.1em;
  background-color: #000;
  transition: opacity 300ms, transform 300ms;
  opacity: 1;
  transform: translate3d(-100%, 0, 0);
}

.footer-contact-us li a:hover::after,
.footer-contact-us li a:focus::after{
  transform: translate3d(0, 0, 0);
}


.footer-contact-us li:hover a {
  color: #000;
}

.footer-contact-us p {
  line-height: 25px;
}

.footer-contact-us .footer-column-2,
.footer-contact-us .footer-column-3 {
    padding-top: 100px;
}

.footer-contact-us ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
  float: right;
}

.footer-contact-us ul li {
  line-height: 55px;
}

.footer-contact-us li {
  color: #000;
  font-weight: 600;
}

.footer-contact-us .footer.row-2 {
    text-align: center;
    border-top: 1px solid #AAAAAA;
    padding: 50px 0;
}

.payment-logo img.ui.fluid.image.footer-logo-1 {
    width: 117px;
}

.payment-logo img.ui.fluid.image.footer-logo-2,
.payment-logo img.ui.fluid.image.footer-logo-4,
.payment-logo img.ui.fluid.image.footer-logo-7 {
    width: 100px;
}

.payment-logo img.ui.fluid.image.footer-logo-3 {
    width: 117px;
}

.payment-logo img.ui.fluid.image.footer-logo-5,
.payment-logo img.ui.fluid.image.footer-logo-6,
.payment-logo img.ui.fluid.image.footer-logo-8 {
    width: 150px;
}

.payment-methods.swiper {
    display: flex;
    align-items: center;
    height: 150px;
}

.payment-methods .swiper-wrapper {
  height: auto;
  display: flex;
  align-items: center;
}

body {
  /*font-family: 'Montserrat', sans-serif;*/
  font-family: 'Poppins', sans-serif;
}

.header1 {
  background-image: url(/images/home-bg.png);
  background-size: 100%;
  background-repeat: no-repeat;
  width: 100%;
  height: calc(100vh - 200px);
}

.ui.grid.krypto-nav {
  padding-top: 30px;
}
.nav-link.search-icon.align-item.search-padding {
    padding-left: 0;
    padding-right: 0;
}

.sixteen.wide.tablet.six.wide.computer.column.cls-responsive {
    padding: 0;
}

a.nav-link.hide {
  padding: 12px 12px;
}

.mobile-only a.nav-link,
.mydropdown {
  padding: 14px 20px;
}

a.nav-link.hide {
  padding: 10px 25px;
}

.trending-btn,
.trending-btn-2 {
  font-size: 18px;
  color: #ffffff;
  background: #FF3B42;
  border: none;
  outline: none;
  padding: 8px 25px;
  border-radius: 100px;
  cursor: pointer;
}

.trending-btn {
  margin-left: 15px;
}

.trending-btn-2 {
    margin-top: 15px;
    font-size: 24px;
    padding: 13px 49px;
    font-family: 'NexaExtraBold', sans-serif;
}

div#text-wrap {
  padding-top: 60px;
  text-align: center;
}

.bg-text h1 {
  font-family: 'NexaExtraBold';
  color: #ffffff;
  font-size: 60px;
  line-height: 65px;
  margin: 0;
}

.bg-text p {
  color: #ffffff;
  font-size: 30px;
  line-height: 45px;
  padding-top: 30px;
  margin: 0;
  font-weight: 300;
}

.instument-h {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
}

.five.column.row.custom-design {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

button.buy-btn:hover {
  border: 1px solid #008000;
  color: #008000;
}

button.sell-btn:hover {
  color: #FF0000;
  border: 1px solid #FF0000;
}

.inline-field {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  padding: 10px 0;
}

p.p-style {
  padding-left: 10px;
}

p.p-margin {
  margin-bottom: 45px;
}

/* /////////////////// my-style ////////// */

.ui.stackable.two.column.grid.instument-column {
  padding-bottom: 20px;
}

.instument {
  padding: 40px 15px;
}

.eight.wide.column h2 {
  font-size: 36px;
}

.eight.wide.column input {
  width: 304px;
  padding: 15px 20px;
}

.my-content p.mobile-only {
    font-weight: 400;
    color: #000;
    font-family: 'Poppins', sans-serif;
    font-size: 26px;
    padding-top: 10px;
}

table.ui.very.basic.table.ui[class*="very basic"].table:not(.sortable):not(.striped) thead tr:first-child th {
  padding-top: 13px;
}

table.ui.very.basic.table.ui.table thead th {
  padding: 0px 10px 15px 18px;
  background: #f6f6f6;
}

table.ui.very.basic.table.ui.table thead th:hover {
  color: #fff;
  background: #f6f6f6;
}

table.ui.very.basic.table.ui.table thead th.add-hover:hover {
  color: #fff;
  background: #004d99;
}

.ui.table td {
  padding: 13px;
}

button.sell-btn,
.buy-btn {
  background: #fff;
  border: 1px solid #5145ff;
  border-radius: 4px;
  padding: 3px 15px;
  color: #5145ff;
  font-weight: 300;
}

.table_new td[data-title="Trades"] {
  display: none;
}

.ui.table.table_new {
  border: none;
}

.ui.table.table_new tr td:first-child {
  padding-left: 0;
}

.ui.table.table_new td {
  font-size: 16px;
  color: #5b5977;
}

.ui.table.table_new th {
  pointer-events: none;
  cursor: default;
}

.ui.table.table_new tr th:nth-child(5) {
  min-width: 100px;
}

.black-text {
  color: #5b5977;
  font-size: 16px;
}

.blue-text {
  color: #5145ff;
  font-size: 16px;
}

.red-text {
  color: #d14141;
  font-size: 16px;
}

.Headinh-h1 {
  font-family: 'Montserrat', sans-serif;
  font-size: 48px;
  font-weight: bold;
}

.six.wide.column.get-more p {
  font-size: 18px;
  font-weight: 400;
}

ul.inner-ul {
  padding: 0;
  margin-bottom: 30px;
}

ul.inner-ul li {
  color: #000;
  padding: 15px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 16px;
  font-weight: 300;
}

.font-weight {
  font-weight: 300;
}

.inner-ul img {
  margin-right: 10px;
}

.learn-more {
  padding: 13px 20px;
  border: 2px solid #3b3b3b;
  background: #fff;
  font-size: 16px;
  border-radius: 7px;
  color: #3b3b3b;
  cursor: pointer;
  font-weight: 300;
}

.learn-more:hover {
  border: 2px solid #5145ff;
  color: #5145ff;
}

.what-we-offer {
  background: #f6f6f6;
  padding: 66px 10px;
}

.social-media h2 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
}

.i-want-to-try {
  font-family: 'Montserrat', sans-serif;
  background: #5145ff;
  color: #fff;
  padding: 13px 52px;
  font-size: 20px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-weight: 300;
}

.i-want-to-try:hover {
  background: #0047bb;
  color: #fff;
}

.explore-market {
  padding: 70px 10px;
}

.trade-with-trus {
  background: #f6f6f6;
  padding: 70px 10px;
}

.connection {
  background-image: url(/images/connections-client.png);
  background-size: cover;
  background-repeat: no-repeat;
  height: 300px;
  display: flex;
  align-items: center;
}

.sixteen.wide.tablet.four.wide.computer.column.my-column.center-col {
    border-left: 1px solid #fff;
    border-right: 1px solid #fff;
}

.text-center {
  text-align: center;
  color: #fff;
  text-transform: capitalize;
}

p.column.sixteen.wide.text-center {
  color: #000;
  padding: 20px 0;
}

.column.my-column {
  text-align: center;
  color: #fff;
}

.column.my-column p {
    margin-bottom: 0;
    color: #fff;
    text-transform: capitalize;
    font-weight: 400;
    font-size: 26px;
    line-height: 32px;
    font-family: 'Poppins';
}

.column.my-column {
}

.h2-color {
  color: #fff;
}

.trade {
  padding: 70px 10px;
  background: #000;
  padding-bottom: 100px;
}

.i-want-to-try.button-center {
  font-family: 'Montserrat', sans-serif;
  margin-left: auto;
  margin-right: auto;
  text-transform: capitalize;
  padding: 15px 45px;
  font-weight: 300;
}

.table.ui.very.basic.table th.add-hover {
  font-weight: 300;
}

td.blue-text,
.black-text,
.red-text {
  font-weight: 300;
}

.five.column.row.my-padding-class {
  padding: 40px 0;
}

footer.footer {
  background: #0047bb;
  color: #fff;
  padding: 70px 0;
}

img.home-logo.my-logo {
  padding: 0;
}

footer.footer p {
  color: #fff;
  font-size: 15px;
}

.payment {
  background-image: url(/images/gry_02.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  padding: 30px 0;
}

i.twitter.sign.icon.social-icon {
  font-size: 28px;
  color: #fff;
}

i.facebook.icon.social-icon {
  font-size: 28px;
  color: #fff;
}

.social-media {
  float: right;
  display: block;
  width: auto;
  padding: 70px 0;
}

.icons {
  padding: 20px 0;
}

i.bars.icon.menu-btn {
  display: none;
}

.responsive-icon i.search.icon {
  display: none;
}

.wide.column.MObile-column {
  display: none;
}

.ui.grid.tablet-only {
  display: none;
}

ul#menu li a {
  color: #fff;
}

.mobile-only li ul {
  position: absolute;
  padding: 0;
  background: transparent;
  min-width: 16rem;
  display: none;
  z-index: 999;
  top: 48px;
  padding-top: 43px;
}

.mobile-only li ul li {
  background: #fff
}

.mobile-only li ul li a {
    line-height: 28px;
    font-size: 14px;
}

.mobile-only li ul a {
  color: #000;
  padding: 10px 15px;
  display: block;
}

.mobile-only ul li {
  padding: 0;
  display: block;
}

.mobile-only li ul li:hover a {
  color: #FF3B42;
}

.mobile-only li:hover ul {
  display: block;
}

.ui.massive.icon.input.site-search {
  display: none;
}

a.nav-link {
  display: block;
  padding: 16px 10px;
}

ul.sub-menu li {
  font-size: 13px;
}

/*.mydropdown {
  pointer-events: none;
}*/

ul.sub-menu.active-submenu {
  display: block;
}

ul.mobile-only {
  padding: 0;
  padding: 0;
  float: right;
  padding-right: 40px;
}

i.angle.down.icon {
  font-size: 23px;
}

.search-icon i.search.icon {
  font-size: 30px;
}

li.mobile-only a {
  display: none;
}

.nav-link button {
  padding: 10px 25px;
  border-radius: 5px;
  cursor: pointer;
}

span.close-text {
  color: #fff;
  padding-top: 5px;
  display: none;
}

img#menu-close {
  height: 32px;
  display: none;
  cursor: pointer;
}

img.ui.fluid.image.home-logo {
  display: none;
}

.search-display input[type="text"] {
  border-bottom: 1px solid #fff;
  background: transparent;
  color: #fff;
  border: none;
  border-bottom: 1px solid #fff;
}

img#menu-btn {
  height: 29px;
  display: none;
  cursor: pointer;
}

img#search {
  height: 31px;
  cursor: pointer;
  padding-right: 10px;
  display: none;
}

#site-search i.search.icon {
  color: #ffffff;
  opacity: 1;
}

.content-wrapper .ui.massive.left.icon.input.custom-width {
  font-size: 1rem;
}

.content-wrapper input[type="text"],
i.search.icon {
  line-height: 2rem;
  font-size: 20px;
}

.page-header .test {
  border-bottom: 1px solid #797F7D;
  position: unset;
  z-index: unset;
  background: none;
}

.content-wrapper h2 {
  font-size: 38px;
}

img.ui.fluid.image.display-tablet {
  display: none;
}

.Headinh-h1 span {
  color: #fff;
}

.connection .Headinh-h1 {
  color: #fff;
  font-family: 'NexaExtraBold';
  font-size: 80px;
  line-height: 100px;
}

.connection .ui.grid.container {
    max-width: 970px !important;
    width: 100%! important;
}

.inline-field.margin-btm {
  margin-bottom: 20px;
}

/*----------search----------------*/

div#websearch.web-search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  width: 100%;
  background: #181E40;
  z-index: 99;
  padding: 32px 0px;
  display: none;
}

img.close-search {
  height: 32px;
  margin-top: 12px;
  cursor: pointer;
}

#site-search input.new-search {
  background: transparent;
  border: none;
  color: #fff;
  border-bottom: 1px solid #fff;
  border-radius: unset;
  font-size: 25px;
}

div#websearch.trigger-serach {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

div#search-open.my-search {
  display: block;
}

#search-open i.search.icon {
  color: #fff;
}

.sixteen.wide.tablet.six.wide.computer.column.page-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.style-cloumn b {
  font-family: 'Montserrat', sans-serif;
  line-height: 20px;
  font-weight: 700;
}

.my-content {
  border-radius: 20px;
  height: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  flex-direction: column;
  align-items: center;
  display: flex;
  background: #fff;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.trade .trending-btn-2.trade {
  margin: 0 auto;
  color: #ffffff;
  background: transparent;
  border: 2px solid #FF3B42;
  outline: none;
  border-radius: 100px;
  cursor: pointer;
  font-size: 24px;
  padding: 15px 49px;
  font-family: 'NexaExtraBold', sans-serif;
  text-transform: capitalize;
}

.trade .trending-btn-2.trade:hover {
  background: #FF3B42;
}

.trade .ui.grid.ui.main.container.newsite {
    max-width: 1600px !important;
    width: 95% !important;
}

.trade .column .my-content img.ui.fluid.image {
    width: 60px;
    height: 60px;
    object-fit: contain;
}

.footer-logo img.home-logo.my-logo {
  padding-bottom: 30px;
}

.sixteen.wide.tablet.six.wide.computer.column.get-more {
  padding-left: 50px;
}

img.ui.fluid.image.img-style {
  padding-top: 40px;
}

img.trust-img {
  height: 40px;
  margin-top: 20px;
}

img.img-width {
  width: 220px;
}

.trending-btn:hover,
.trending-btn-2:hover,
.login-btn2:hover {
  opacity: 0.9;
  color: #fff;
}
.main-logo{
  margin-bottom: 90px;
  margin-top: 15px;
}
img.login-logo.main-logo {
   margin-bottom: 70px;
}

@media only screen and (max-width: 1300px) {
  a.nav-link.hide {
    padding: 10px 22px;
  }
}
/*////////////// 1200 screen////////////////// */

@media only screen and (max-width: 1280px) {
  .footer-contact-us .footer.row-1 {
    padding: 50px 40px;
  }
}

@media only screen and (max-width: 1200px) {
  a.nav-link {
    display: block;
    padding: 16px 5px;
  }

  .nav-link button {
    padding: 10px 15px;
    border-radius: 10px;
    cursor: pointer;
  }

  .bg-text h1 {
    font-size: 29px;
    line-height: 30px;
  }

  .bg-text p {
    font-size: 15px;
    line-height: 23px;
    padding-top: 8px;
  }

  div.container#bg-text {
    margin-top: 0;
  }

  .ui.grid.krypto-nav {
    padding-top: 20px;
  }

  .trending-btn-2 {
    font-size: 20px;
  }

  .connection .ui.grid.container {
    max-width: 750px !important;
    width: 100%! important;
  }

  .connection {
    height: 250px;
  }

  .connection .Headinh-h1 {
    font-size: 50px;
    margin: 0;
  }

  .column.my-column p {
    font-size: 18px;
    line-height: 22px;
  }
}

/*////////////// 1100 screen////////////////// */

@media only screen and (max-width: 1100px) {
  .trending-btn-2 {
    margin-top: 6px;
    font-size: 19px;
    padding: 10px 20px;
  }

  .bg-text p {
    font-size: 18px;
    line-height: 22px;
    padding-top: 7px;
  }

  .bg-text h1 {
    font-size: 28px;
    line-height: 30px;
  }
}

/*////////////// 1050px screen////////////////// */

@media only screen and (max-width: 1050px) {
  .bg-text h1 {
    font-size: 25px;
    line-height: 29px;
  }

  .bg-text p {
    font-size: 19px;
    line-height: 21px;
    padding-top: 5px;
  }

  .trending-btn-2 {
    margin-top: 3px;
    padding: 10px 25px;
    font-size: 20px;
  }

  /*div#text-wrap {
    padding-top: 0px;
  }*/
}

/*////////////// 991 screen////////////////// */

@media only screen and (max-width: 992px) {
  .mobile-only {
    display: none;
  }

  img#menu-btn {
    display: block;
  }

  img#search {
    display: block;
  }

  .responsive-icon {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    padding-top: 20px;
    padding-right: 50px;
  }

  .bg-text h1 {
    font-size: 22px;
    line-height: 28px;
    font-weight: 600;
    margin: 0;
  }

  div#text-wrap {
    padding-top: 30px;
  }

  .ui.grid.bg-text {
    margin: 0;
  }

  .bg-text p {
    font-size: 17px;
    line-height: 22px;
    /*margin: 0;*/
    padding-top: 0px;
  }

  .ui[class*="two column"].grid > .column:not(.row) {
    width: 100%;
  }

  .ui.massive.icon.input.custom-width {
    width: 100%;
  }

  .wide.column.MObile-column {
    display: block;
  }

  .hide-column {
    display: none;
  }

  .ui.grid.tablet-only {
    display: block;
  }

  .social-media {
    float: none;
  }

  .sixteen.wide.tablet.four.wide.computer.column.footer-col {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .icons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .sixteen.wide.tablet.four.wide.computer.column.my-column {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .menu-active ul {
    display: block;
    width: 100%;
  }

  .menu-active li {
    display: block;
  }

  .menu-active li a {
    color: #fff;
    padding: 24px 10px;
    display: block;
    text-align: center;
  }

  .sixteen.wide.tablet.eight.wide.computer.column.cls-responsive {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }

  .main-main {
    background: #313fa0;
  }

  div#menu-ul.menu-active {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .menu-active ul li {
    display: block;
  }

  .mobile-only li ul {
    position: relative;
    padding-left: 10px;
  }

  a.nav-link.search-icon {
    display: none;
  }

  .ui.massive.icon.input.site-search.search-display {
    display: block;
  }

  .add-border {
    border-bottom: 2px solid #32308d;
  }

  .ten.wide.column input {
    padding: 15px 20px;
    border: none;
    width: 100%;
    color: #fff;
    background: transparent;
    border-bottom: 1px solid #fff;
    text-align: center;
    border-radius: unset;
    font-size: 23px;
  }

  .ten.wide.column input:focus {
    background: transparent;
    color: #fff;
  }

  .ui.container-fluid {
    position: absolute;
    width: 100%;
    z-index: 99;
  }

  li.mobile-only a.nav-link {
    display: inline-block;
  }

  a.nav-link.hide {
    display: none;
  }

  .mobile-only li.mobile-only {
    text-align: center;
  }

  div#menu-ul {
    display: none;
  }

  div#menu-ul.search-active {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .ui.grid.krypto-nav {
    padding-top: 15px;
  }

  .what-we-offer {
    padding-bottom: 30px;
  }

  .Headinh-h1 {
    font-size: 40px;
    margin: 0;
  }

  .style-cloumn {
    text-align: center;
  }

  .sixteen.wide.tablet.six.wide.computer.column.cls-responsive {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }

  footer.footer {
    padding-bottom: 0px;
  }

  .hide-a img.ui.fluid.image.home-logo {
    display: block;
  }

  .content-wrapper input[type="text"],
  i.search.icon {
    line-height: 30px;
    font-size: 20px;
  }

  .trending-btn-2 {
    margin-top: 3px;
    padding: 10px 20px;
    font-size: 18px;
  }

  .page-header .test.myclas {
    position: relative;
    z-index: 9;
    background: #313fa0;
  }

  img.ui.fluid.image.display-tablet {
    display: block;
  }

  img.ui.hide-tablet {
    display: none;
  }

  .sixteen.wide.tablet.six.wide.computer.column.get-more {
    padding-left: 10px;
  }

  .ten.wide.column .custom-width input {
    padding: 15px 20px;
    border: 1px solid #b7b1b194;
    width: 100%;
    font-size: 23px;
    color: #000;
    text-align: justify;
  }

  ul.mobile-only {
    padding-right: 0;
  }

  img.trust-img {
    margin-top: 0;
  }

  .footer-contact-us ul {
    float: unset;
  }

  .footer-contact-us .footer.row-1 .footer-column-1 { grid-area: fullwidthrow; }
  .footer-contact-us .footer.row-1 .footer-column-2 { grid-area: halfrow1; }
  .footer-contact-us .footer.row-1 .footer-column-3 { grid-area: halfrow2; }

  .footer-contact-us .footer.row-1 {
      grid-template-columns: unset !important;
      grid-template-areas: 'fullwidthrow fullwidthrow fullwidthrow fullwidthrow fullwidthrow fullwidthrow'
                           'halfrow1 halfrow1 halfrow1 halfrow2 halfrow2 halfrow2' !important;
  }
}

/*////////////// 875 screen////////////////// */

@media only screen and (max-width: 875px) {
  .sixteen.wide.tablet.nine.wide.computer.column {
    padding-top: 0;
  }

  .bg-text h1 {
    font-size: 22px;
    line-height: 26px;
    font-weight: 500;
    /* margin: 0; */
  }

  .instument {
    padding-top: 0;
  }

  div#text-wrap {
    padding-left: 10px;
  }

  .trending-btn-2 {
    margin-top: 0px;
    padding: 10px 25px;
    font-size: 20px;
  }

  .bg-text p {
    font-size: 16px;
    line-height: 20px;
    /* margin: 0;*/
    padding-top: 0px;
  }

  .bg-text h1 {
    font-size: 20px;
    line-height: 23px;
    font-weight: 500;
    /* margin: 0; */
  }

  p.p-margin {
    margin-bottom: 24px;
  }
}

/*////////////// 767 screen////////////////// */

@media only screen and (max-width: 767px) {
  .header1 {
    background-size: cover;
    width: 100%;
    height: 400px;
  }
  table.ui.very.basic.table {
    display: none;
  }

  .ui.grid.krypto-nav {
    padding-top: 5px;
  }

  .page-header {
    height: 485px;
  }

  a.hide-logo {
    display: none;
  }

  img.ui.fluid.image.home-logo {
    display: block;
  }

  .bg-text h1 {
    font-size: 19px;
    line-height: 30px;
    padding-bottom: 0px;
    margin: 0;
  }

  .bg-text p {
    font-size: 12px;
    line-height: 16px;
    /*margin: 0;*/
    padding-top: 0;
  }

  .ui.grid.bg-text {
    padding-left: 20px;
  }

  .trending-btn-2 {
    margin-top: 7px;
    /* margin-left: 0px; */
    font-size: 15px;
  }

  .ui.grid.tablet-only.custom-row {
    margin: 0;
  }

  .sixteen.wide.tablet.eight.wide.computer.column.cls-responsive {
    padding-bottom: 0;
  }

  div#text-wrap {
    padding-left: 0px;
  }

  img.mobile-hidden {
    display: none;
  }

  .sixteen.wide.tablet.six.wide.computer.column.cls-responsive {
    width: 100%!important;
    padding: 0px 10px !important;
  }
}

/*////////////// 700 screen////////////////// */

@media only screen and (max-width: 700px) {
  .page-header {
    height: 295px;
  }

  .trending-btn-2 {
    margin-top: 0px;
    padding: 10px 20px;
  }

  .hide-a img.home-logo {
    margin-top: 10px;
  }

  .instument {
    padding-top: 150px;
  }

  .ui.stackable.two.column.grid.instument-column {
    padding-bottom: 0px;
  }
}

/*////////////// 600 screen////////////////// */

@media only screen and (max-width: 600px) {
  img.home-logo {
    padding-left: 10px;
  }

  .Headinh-h1 {
    font-size: 22px;
    margin: 0;
  }

  .connection {
    padding: 30px 10px;
  }

  .trade {
    padding: 30px 10px;
  }

  footer.footer {
    padding: 30px 0;
    padding-bottom: 0;
  }

  .trade-with-trus {
    padding: 30px 10px;
  }

  .explore-market {
    padding: 30px 10px;
  }

  .what-we-offer {
    padding: 30px 10px;
  }

  .six.column.row.custom-rwo {
    padding: 0;
  }

  .four.wide.computer.column.my-column {
    padding: 0px 10px;
  }

  button.i-want-to-try {
    padding: 13px 30px;
    font-size: 16px;
  }

  .hide-a img.home-logo {
    margin-top: 12px;
  }

  .hide-a img.ui.fluid.image.home-logo {
      width: 150px;
      padding-left: 10px;
  }

  .responsive-icon {
    padding-right: 30px;
  }
}

/*////////////// 550 screen////////////////// */

@media only screen and (max-width: 550px) {
  .page-header {
    height: 260px;
  }
}

/*////////////// 480 screen////////////////// */

@media only screen and (max-width: 480px) {
  .page-header {
    height: 240px;
  }

  .header1 {
    background-position-x: 0px;
    background-position-y: -25px;
  }

  .hide-a img.ui.fluid.image.home-logo {
    width: 80%;
    margin-top: 10px;
  }
  
  img.login-logo.main-logo {
	    max-width: 150px;
	    margin-top: 2px;
	    margin-bottom: 0;
	}
}

/*////////////// 400 screen////////////////// */

@media only screen and (max-width: 400px) {
  .page-header {
    height: 195px;
  }
}

/*////////////// 360 screen////////////////// */

@media only screen and (max-width: 360px) {
  .page-header {
    height: 175px;
  }

  .content-wrapper h2 {
    font-size: 32px;
  }
}

/*////////////// 320 screen////////////////// */

@media only screen and (max-width: 320px) {
  .page-header {
    height: 160px;
  }
}

/*----------------------Header-----------------------------*/
.header-contact {
    background-image: url(../images/background.jpg);
    height: 120px;
    width: 100%;
    background-size: 113%;
 
}
.web-search {
    display: flex;
    justify-content: center;
    background: #313fa0;
    position: absolute;
    width: 100%;
    z-index: 99;
    padding: 33px 0;
    display: none;
   
}
.contact-ul.mobile-only a.nav-link {
    padding: 14px 15px;
}
.contact-ul.mobile-only a.login-btn {
    padding-right: 0px;
}
.contact-ul.mobile-only a.trd-btn {
    padding-left: 0px;
}

/*----#page-test .home-logo {
    padding-top: 10px;
}---*/

.web-search img.close-search {
    height: 32px;
    margin-top: 12px;
    cursor: pointer;

}
#site-search input.new-search {
        background: transparent;
    border: none;
    color: #fff;
    border-bottom: 1px solid #fff;
    border-radius: unset;
}

.header-contact #menu {
    padding: 10px 0;
}
.header-contact ul.mobile-only {
    margin-top: 0;
}

ul.mobile-only li {
    list-style-type: none;
    display: inline-block;
    color: #ffffff;
    font-family: 'NexaExtraBold', sans-serif;
    font-size: 18px;
    position: relative;
}

li button {
    font-size: 18px;
    color: #ffffff;
    background: #5145ff;
    border: none;
    outline: none;
    padding: 8px 25px;
    border-radius: 5px;
}

button.trending-btn{
    font-size: 18px;
    color: #ffffff;
    background: #f6a120;
    border: none;
    outline: none;
    padding: 8px 25px;
    border-radius: 5px;
}

.contact-us {
    padding: 66px 10px;
}

footer.footer-contact-us {
    background-image: url(/images/footer-bg2.png);
    background-size: cover;
    background-repeat: no-repeat;
}
.footer-contact-us img.home-logo.my-logo {
    padding: 0;
    margin-left: -26px;
}

i.bars.icon.menu-btn {
    display: none;
}
.responsive-icon i.search.icon{
    display: none;
}

/*.ui.grid.tablet-only {
    display: none;
}*/
ul#menu li a {
    color: #fff;
}
.mobile-only ul li {
    padding: 0;
    display: block;
}
/*.mobile-only li:hover ul {
    display: block;
}*/
ul.mobile-only li a {
    font-family: 'NexaExtraBold', sans-serif;
    color: #fff;
    font-size: 18px;
}
.ui.massive.icon.input.site-search {
    display: none;
}
a.nav-link {
    display: block;
    padding: 16px 10px;
}
ul.sub-menu li {
    font-size: 13px;
}
ul.mobile-only {
    margin: 0;
    padding: 0;
    float: right;
}
.mobile-only li ul a {
    color: #000;
    padding: 10px 15px;
    display: block;
}
i.angle.down.icon {
    font-size: 23px;
}
.search-icon i.search.icon {
    font-size: 30px;
}
li.mobile-only a {
    display: none;
}
.nav-link button {
    padding: 10px 25px;
    border-radius: 5px;
        cursor: pointer;
}
span.close-text {
    color: #fff;
    padding-top: 5px;
    display: none;
}
img#menu-close {
    height: 32px;
    display: none;
    cursor: pointer;
}
img.ui.fluid.image.home-logo {
    display: none;
}
.search-display input[type="text"] {
    border-bottom: 1px solid #fff;
    background: transparent;
    color: #fff;
    border: none;
    border-bottom: 1px solid #fff;
}
img#menu-btn {
    height: 29px;
    display: none;
    cursor: pointer;
}
img#search {
    height: 31px;
    cursor: pointer;
    padding-right: 10px;
    display: none;
}
#site-search i.search.icon {
    color: #ffffff;
    opacity: 1;
}
.header-contact #websearch.trigger-serach{
    display: flex;
    padding: 28px 0;
}
div#search-open.my-search {
    display: block;
}

/*----------------------Contact us page-----------------------------*/
.contact-us h1.contact-heading {
    font-family: 'Montserrat', sans-serif;
    font-size: 36px;
    font-weight: bold;
}

.contact-form input[type=text],.contact-form input[type=email],
.contact-form .ui.fluid.dropdown {
    height: 55px;
}

.contact-form .ui.form .field {
    margin-bottom: 2em;
}

.ui.button.submit-btn {
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    background: #0047bb;
    color: #ffffff;
    padding: 16px 37px;
    border-radius: 30px;
}

.ui.button.submit-btn:hover {
    background: #37004f;
    color: #fff;
}

.content-block b {
    color: #0047bb;
    font-weight: 500;
    padding-right: 5px;
}

.content-block a{
    color: #000;
}
.contact-form .ui.selection.dropdown>.dropdown.icon {
	color: #0047bb;
	top: 20px;
}

.contact-form .ui.selection.dropdown {
    padding-top: 20px;
}

/*----------------------Contact us page footer-----------------------------*/
.socal-media h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    font-weight: 500;
}

.socal-media .icons {
	display: flex;
}
.socal-media .icons a {
	display: block;
    width: 44px;
    height: 44px;
    background: #1B1312;
    border-radius: 50%;
    position: relative;
}
.socal-media .icons i.icon.facebook.f:before {
    color: #fff;
    position: absolute;
    font-size: 27px;
    top: 30%;
    left: 30%;
}

.socal-media .icons i.icon.twitter:before {
    content: "\f099";
    color: #fff;
    font-size: 20px;
    position: absolute;
    top: 30%;
    left: 30%;
}
.socal-media .icons a:hover {
	 background: #5145ff;
}

.footer-menu li a:hover {
	color: #5145ff;
}

.content-wraper {
    padding-bottom: 35px;
    border-bottom: 2px solid #366ec9;
}

.computer-hidden {
    display: none;
}

.footer-content {
    padding-top: 50px;
    padding-bottom: 80px;
}

.footer-content p {
    line-height: 25px;
    margin-bottom: 15px;
}
.footer-menu {
    background: #011f51;
}
.footer-menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.footer-menu li {
    display: inline-block;
}

.footer-menu li a {
    color: #fff;
    padding: 10px 10px;
    display: inline-block;
}

/*////////////// 1600 screen////////////////// */

@media only screen and (max-width: 1600px) {
  .footer-contact-us .footer.row-1 {
    grid-template-columns: 65% 20% 15%;
  }
}

/*////////////// 1350 screen////////////////// */

@media only screen and (max-width: 1366px) {
  .footer-contact-us .footer.row-1 {
    grid-template-columns: 60% 30% 10%;
  }

  .trade .column .my-content img.ui.fluid.image {
    width: 50px;
    height: 50px;
  }

  .my-content p.mobile-only {
    font-size: 18px;
  }

  .my-content {
    height: 170px;
  }

  .ui.grid>[class*="five column row my-padding-class"].row>.column {
  }

  .ui.grid>[class*="five column row my-padding-class"].row {
    justify-content: space-between;
  }

  .trade .ui.grid.ui.main.container.newsite {
      width: 100% !important;
  }
}
@media only screen and (max-width: 1280px) {
  .menu-container.ui.container {
      max-width: unset !important;
      width: 97%;
  }

  .sixteen.wide.tablet.six.wide.computer.column.cls-responsive {
    width: 20.5%!important;
  }
  .menu-container #menu div#menu-ul {
    width: 79.5%!important;
  }
}

/*////////////// 1200 screen////////////////// */

@media only screen and (max-width: 1200px) {
.header-contact {
    background-size: 190%;
 
}

    a.nav-link {
      display: block;
      padding: 16px 5px;
    }
    .nav-link button {
        padding: 10px 15px;
        border-radius: 10px;
        cursor: pointer;
    }
    .ui.grid.krypto-nav {
        padding-top: 20px;
    }
}   
/*////////////// 991 screen////////////////// */

@media only screen and (max-width: 992px) {
    .mobile-only {
        display: none;
    }
    .mobile-only li:hover ul {
      display: none;
    }
    ul.sub-menu.active-submenu {
      display: block !important;
    }
    .mobile-only li ul {
      top: 0;
      padding-top: 30px;
    }

    .mobile-only li ul li {
        background: transparent;
    } 
    .mobile-only li ul li a {
      color: #fff;
    }
    .menu-active ul li.mydropdown {
        text-align: center;
    }
    .hide-logo {
        padding-top: 0px;
        display: none;
    }
    
    a.hide-logo.hind-mobile {
      display: none;
  }
  .hide-a img.ui.fluid.image.home-logo.desktop-logo {
      margin: 0;
    	padding: 0;
  }
    img#menu-btn {
       display: block;
    }
    img#search {
        display: block;
    }
    .responsive-icon {
        display: flex;
        justify-content: flex-end;
        padding-top: 47px;
    }

    .ui[class*="two column"].grid>.column:not(.row)
     {
        width: 100%;
    }
    .ui.massive.icon.input.custom-width {
        width: 100%;
    }

    .wide.column.MObile-column {
        display: block;
    }
    .ui.grid.tablet-only {
        display: block;
    }

    .socal-media {
        float: none;
    }

    .sixteen.wide.tablet.four.wide.computer.column.footer-col {
        display: flex;
        justify-content: center;
    }
    .icons {
        display: flex;
        justify-content: center;
    }
    .sixteen.wide.tablet.four.wide.computer.column.my-column {
        display: flex;
        justify-content: center;
    }
    /*.column-inner {
        padding: 40px;
        border: 2px solid #313fa0;
    }
    .column-inner:hover {
        padding: 40px;
        border: 2px solid #fff;
         border-radius: 5px;
    }*/
    .column.my-column:hover {
        border: 2px solid #313fa0;
        border-radius: 5px;
    }

    .menu-active ul{
        display: block;
        width: 100%;
        height: 100vh;
        padding-top: 100px;
    }
    .menu-active li{
        display: block;
    }

    .menu-active li a {
        color: #fff;
        padding: 24px 10px;
        display: block;
        text-align: center;
    }
    .sixteen.wide.tablet.eight.wide.computer.column.cls-responsive {
        display: flex;
        justify-content: space-between;
    }
    .main-main{
        background: #181E40;
    }
    div#menu-ul.menu-active {
        display: flex;
        justify-content: center;
    }
    .menu-active ul li {
        display: block;
    }
    .mobile-only li ul{
        position: relative;
        padding-left: 10px;
    }

    a.nav-link.search-icon {
        display: none;
    }
    .ui.massive.icon.input.site-search.search-display 
    {
        display: block;
    }
    .add-border {
        border-bottom: 2px solid #32308d;
    }
    .ten.wide.column input {
        padding: 15px 20px;
        border: none;
        width: 100%;
        color: #fff;
        background: transparent;
        border-bottom: 1px solid #fff;
        text-align: center;
        border-radius: unset;
    }
    .ten.wide.column input:focus {
        background: transparent;
        color: #fff;
    }

    .ui.container-fluid {
        position: absolute;
        width: 100%;
        z-index: 99;
    }
    li.mobile-only a.nav-link {
        display: inline-block;
    }
    a.nav-link.hide {
        display: none;
    }
    .mobile-only li.mobile-only {
        text-align: center;
    }
    div#menu-ul {
        display: none;
    }
    div#menu-ul.search-active {
        display: flex;
        justify-content: center;
    }
    .ui.grid.krypto-nav {
        padding-top: 15px;
    }
    .contact-us{
        padding-bottom: 30px;
    }
    .style-cloumn {
        text-align: center;
    }
    .sixteen.wide.tablet.six.wide.computer.column.cls-responsive {
        display: flex;
        justify-content: space-between;
    }
    .test.myclas {
        position: relative;
        z-index: 9;
        background: #313fa0;
    }

    .computer-hidden {
        display: block;
    }

    .footer-menu {
        text-align: center;
    }

    .content-wraper {
        text-align: center;
    }

    .menu-container #menu div#menu-ul {
        width: 100% !important;
    }

    .sixteen.wide.tablet.six.wide.computer.column.cls-responsive {
      width: 100%!important;
      padding: 0 50px;
  }
  .footer-logo {
      text-align: center;
  }
  .footer-contact-us img.home-logo.my-logo {
      margin-left: 0;
  }

  .my-content {
    height: 130px;
    width: auto;
    padding: 20px;
  }
}

/*////////////// 767 screen////////////////// */

@media only screen and (max-width: 767px) {
    .my-content {
      height: 115px;
      width: auto;
      padding: 20px;
    }
    .trade .ui.grid.ui.main.container.newsite {
      margin: 0 !important;
    }

    .ui.grid.ui.main.container.newsite>.row>.column {
      padding: 0 0.5em !important;
    }
    .ui.grid.krypto-nav {
        padding-top: 5px;
    }

    a.hide-logo {
        display: none;
    }           
    img.ui.fluid.image.home-logo {
        display: block;
    }

    img.home-logo {
        padding-left: 30px;
                    }
    .ui.grid.bg-text {
        padding-left: 20px;
    }
    .hide-logo {
        padding-top: 10px;
    }
    h1.contact-heading {
        font-size: 22px;
    }
}

/*////////////// 700 screen////////////////// */

@media only screen and (max-width: 700px) { 
.hide-a img.ui.fluid.image.home-logo.desktop-logo {
        margin: 0;
    	padding: 0;
    }
}
/*////////////// 600 screen////////////////// */

@media only screen and (max-width: 600px) { 
    img.home-logo {
        padding-left: 10px;
    }
    .desktop-logo {
      padding-top: 0px;
  }
}

@media only screen and (max-width: 576px) {
  .sixteen.wide.tablet.four.wide.computer.column.my-column {
    width: 100% !important;
  }

  .ui.grid.ui.main.container.newsite>.row>.column {
    padding: 0 0.5em !important;
    width: 33% !important;
    margin-bottom: 20px;
  }

  .ui.grid>[class*="five column row my-padding-class"].row {
    justify-content: center;
  }

  .connection {
      height: 550px;
  }

  .sixteen.wide.tablet.four.wide.computer.column.my-column.center-col {
    border: none;
  }

  .sixteen.wide.tablet.four.wide.computer.column.my-column.center-col .column-inner {
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
  }

  .sixteen.wide.tablet.four.wide.computer.column.my-column .column-inner {
    padding-bottom: 20px;
  }
}

/*////////////// 480 screen////////////////// */
@media only screen and (max-width: 480px) {
    .footer-menu p,
    .footer-menu li a {
        font-size: 13px;
    }

    .footer-contact-us p, .footer-contact-us li, .footer-contact-us a {
      font-size: 16px;
    }

    .footer-contact-us p {
        line-height: 22px;
    }
    .footer-contact-us ul li {
      line-height: 40px;
  }

  .footer-contact-us .footer.row-2 {
      padding: 30px 0;
  }

  .footer-contact-us .footer.row-1 {
      padding: 50px 30px;
  }

  .footer-contact-us .footer-column-2, .footer-contact-us .footer-column-3 {
      padding-top: 60px;
  }
  .my-content {
    height: 100px;
  }

  .trade .trending-btn-2.trade {
    font-size: 20px;
    padding: 12px 36px;
  }

  .instument {
    padding-top: 250px;
  }
}

