@charset "UTF-8";

/*body.login,
body.register,
body.password-request {
  background-image: url("/images/bg.png");
  background-size: 100%;
  background-repeat: no-repeat;
}*/

.branding {
  padding-top: 10px;
}

.branding + article {
  margin-top: 130px;
}

.login #app,
.password-request #app,
.register #app {
  overflow: hidden;
}

.image-column {
  background-image: url(/images/login.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.image-column .ui.image {
  display: none;
}

.custom-column .ui.stackable.grid>.wide.column.image-column {
  padding: 0 !important;
}

h2.plz-login {
  /*font-family: 'Montserrat', sans-serif;*/
  font-family: 'NexaExtraBold', sans-serif;
  font-weight: bold;
  font-size: 40px;
  color: #181E40;
  text-align: center;
}

p.no-account {
  font-weight: 300;
  font-size: 22px;
  color: #000000;
  text-align: center;
  font-family: 'Poppins', sans-serif;
  margin-top: 34px; 
}

/* Styles for form fields */

body.login .mobile-only {
  display: none !important;
}

.sign-up-form { 
  padding-bottom: 100px;
  max-width: 620px;
  margin-left: auto;
  padding-right: 64px;
  padding-left: 20px;
  /**
    * Add a transition to the label and input.
    * I'm not even sure that touch-action: manipulation works on
    * inputs, but hey, it's new and cool and could remove the
    * pesky delay.
    */
  /**
    * Translate down and scale the label up to cover the placeholder,
    * when following an input (with placeholder-shown support).
    * Also make sure the label is only on one row, at max 2/3rds of the
    * field—to make sure it scales properly and doesn't wrap.
    */
  /**
    * By default, the placeholder should be transparent. Also, it should
    * inherit the transition.
    */
  /**
    * Show the placeholder when the input is focused.
    */
  /**
    * When the element is focused, remove the label transform.
    * Also, do this when the placeholder is _not_ shown, i.e. when
    * there's something in the input at all.
    */
}

.sign-up-form .main-logo {
  max-width: 258px;
  margin: auto;
}

.password-request .ui.grid {
  height: 100vh;
}

.password-request .sign-up-form .main-logo {
  margin-top: 72px;
}

.password-request .sign-up-form .field {
  margin-top: 94px;
  margin-bottom: 0;
}

.password-request p.no-account {
  margin-top: 20px;
}

.register .sign-up-form input#password {
  margin-bottom: 32px;
}

.sign-up-form form .back-btn {
  font-family:'Poppins', sans-serif;
  font-weight: 400;
  color: #181E40;
  font-size: 18px;
  padding-left: 25px;
  text-transform: capitalize;
  background-image: url(/images/back-bg.png);
  background-repeat: no-repeat;
  background-position: left center;
}

.sign-up-form form > a {
  color: #2185d0;
  margin-right: 10px;
  border-right: 1px solid #2185d0;
  padding-right: 10px;
}

.sign-up-form form > a:last-child {
  border: 0;
}

.sign-up-form form > a:hover {
  text-decoration: underline;
}

.sign-up-form .form-button,
.sign-up-form button {
  display: block;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 16px;
  background-color: #000;
  border: none;
  outline: none;
  color: #fff;
  padding: 15px 35px;
  border-radius: 25px;
  max-width: 185px;
  width: 100%;
  text-transform: capitalize;
  margin: 0 auto;
  margin-bottom: 53px;
  cursor: pointer;
}

.sign-up-form .form-button.reset-pass,
.sign-up-form button.reset-pass {
  max-width: 270px;
}

.sign-up-form .form-button:hover,
.sign-up-form button:hover {
  background-color: #FF3B42;
  text-decoration: none;
}

.sign-up-form button {
  margin-left: 0;
  max-width: 154px;
  text-align: inherit;
  background-image: url(/images/right-arrow.png);
  background-repeat: no-repeat;
  background-position: right 17px center;
}

.center-block {
    display: flex;
    align-items: center;
    justify-content: center;
}

.center-block a {
  font-family: 'Poppins', sans-serif;
  font-size: 18px;
  font-weight: 400;
  color: #181E40;
}

.center-block a:hover {
  color: #FF3B42;
}

.center-block a:first-child {
  margin-right: 10px;
  padding-right: 10px;
  border-right: 1px solid #181E40;
}


.sign-up-form .field {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-flow: column-reverse;
          flex-flow: column-reverse;
  margin-bottom: 10px;
}

.sign-up-form .field.checkbox {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row;
          flex-flow: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  /*height: 60px;*/
  margin-bottom: 30px;
}

.sign-up-form .field.checkbox label {
  color: #181E40;
  font-size: 18px;
  font-weight: 400;
}

.sign-up-form .field.checkbox a {
  font-family: 'Poppins', sans-serif;
  font-size: 18px;
  font-weight: 400;
  color: #181E40;
  text-decoration: unset;
}

.sign-up-form .field.checkbox a:hover {
  color: #FF3B42;
  text-decoration: none;
}

.sign-up-form label,
.sign-up-form input,
.sign-up-form select {
  -webkit-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
  -ms-touch-action: manipulation;
      touch-action: manipulation;
}

.sign-up-form input,
.sign-up-form select {
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-size: 16px;
  color: #181E40;
  border: 0;
  border-radius: 10px;
  margin-bottom: 32px;
  -webkit-appearance: none;
  padding: 0 20px;
  cursor: text;
  text-transform: none;
  height: 61px;
  background: #F0F3F6;
}

.sign-up-form input#password {
  margin-bottom: 18px;
}

.sign-up-form input:focus,
.sign-up-form select:focus {
  outline: 0;
}

.sign-up-form label {
  text-transform: none;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-size: 18px;
  color: #181E40;
}

.sign-up-form input:placeholder-shown + label,
.sign-up-form select:placeholder-shown + label {
  cursor: text;
  max-width: 66.66%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-transform-origin: left bottom;
       -o-transform-origin: left bottom;
          transform-origin: left bottom;
  -webkit-transform: translate(0, 2.125rem) scale(1.5);
       -o-transform: translate(0, 2.125rem) scale(1.5);
          transform: translate(0, 2.125rem) scale(1.5);
}

/*.sign-up-form ::-webkit-input-placeholder {
  opacity: 0;
  -webkit-transition: inherit;
  -o-transition: inherit;
  transition: inherit;
}*/

/*.sign-up-form ::-moz-placeholder {
  opacity: 0;
  -webkit-transition: inherit;
  -o-transition: inherit;
  transition: inherit;
}

.sign-up-form :-ms-input-placeholder {
  opacity: 0;
  -webkit-transition: inherit;
  -o-transition: inherit;
  transition: inherit;
}

.sign-up-form :-moz-placeholder {
  opacity: 0;
  -webkit-transition: inherit;
  -o-transition: inherit;
  transition: inherit;
}*/

/*.sign-up-form input:focus::-webkit-input-placeholder,
.sign-up-form select:focus::-webkit-input-placeholder {
  opacity: 1;
}

.sign-up-form input:not(:placeholder-shown) + label,
.sign-up-form input:focus + label,
.sign-up-form select:not(:placeholder-shown) + label,
.sign-up-form select:focus + label {
  -webkit-transform: translate(0, 0) scale(1);
       -o-transform: translate(0, 0) scale(1);
          transform: translate(0, 0) scale(1);
  cursor: pointer;
  color: #5145FF;
}*/

@media only screen and (max-width: 480px) {
  body.login,
  body.register,
  body.password-request {
    background-position-y: 0px;
  }
}

@media only screen and (max-width: 767px) {
  body.login,
  body.register,
  body.password-request {
    background-position-y: -10px;
  }

  .branding img {
    max-width: 200px;
    height: auto;
  }

  .branding + article {
    margin-top: 40px;
  }

  .login #app, 
  .password-request #app, 
  .register #app {
     overflow: unset; 
}

  .sign-up-form {
    padding: 0;
    max-width: unset;
    margin-bottom: 30px;
  }

  h2.plz-login {
    font-size: 30px;
    line-height: 32px;
  }

  .center-block a,
  .sign-up-form .field.checkbox label,
  .sign-up-form .field.checkbox a {
    font-size: 14px;
  }

  .password-request .sign-up-form .main-logo {
    margin-top: 30px;
  }

  .password-request .sign-up-form .field {
    margin-top: 60px;
  }

  .image-column .ui.image {
    display: block;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  body.login,
  body.register,
  body.password-request {
    background-position-y: -70px;
  }

  .branding img {
    max-width: 300px;
    height: auto;
  }

  .branding + article {
    margin-top: 40px;
  }

  .sign-up-form h2.plz-login {
    font-size: 26px;
  }

  .sign-up-form {
    padding-right: 20px;
  }

  .center-block a {
    font-size: 14px;
  }
}

@media only screen and (min-width: 1200px) {
  body.login,
  body.register,
  body.password-request {
    background-position-y: -90px;
  }

  .branding + article {
    margin-top: 70px;
  }
}

@media only screen and (min-width: 1400px) {
  body.login,
  body.register,
  body.password-request {
    background-position-y: -90px;
  }

  .branding + article {
    margin-top: 170px;
  }
}

